@import "../../../styles/variables.scss";

.testimonials.accent {
  background-color: var(--main-bg);
}

.titleHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.customSwiper {
  --swiper-theme-color: var(--pink-color);
  padding: 0 0.1rem 0 0.1rem;
}

.customSwiper :global(.swiper-slide) {
  margin-top: 10px;
}

.testimonialHeader {
  margin-bottom: 1rem;
  text-align: center;

  @media screen and (min-width: $breakpoint-laptop) {
    // width: 100%;
    // flex-grow: 1;
    // flex-shrink: 0;
  }
}

.testimonialPhoto {
  width: 150px;
  height: 150px;
  margin: 0 auto 0.5rem;
  border-radius: 50%;
  object-fit: cover;

  @media screen and (min-width: $breakpoint-tablet) {
    width: 160px;
    height: 160px;
  }
}

.testimonialInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: spaceBetween;

  @media screen and (min-width: $breakpoint-laptop) {
    width: 550px;
  }
}

.testimonialTextWrapper {
  display: block;
  margin-bottom: 2rem;
  font-size: 0.8rem;

  @media screen and (min-width: $breakpoint-mobile-large) {
    font-size: 1rem;
    margin-bottom: auto;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 1rem;
  }
}

.testimonialText {
  display: inline-block;
  margin-bottom: 0.2rem;
  line-height: 1.25;
}

.line {
  display: inline-block;
}

.testimonialText p:nth-child(2),
.testimonialText p:nth-child(3) {
  display: inline;
}

.ellipsis {
  display: inline;
  margin-left: 1px;
}

.testimonialName {
  font-weight: bold;
  margin-bottom: 10px;
}

.delimiter {
  display: block;
}

.readMoreButton {
  display: inline-block;
  padding: 0;

  background: none;
  color: var(--pink-color);
  border: none;
  text-decoration: underline;
  font-size: 0.9rem;
  font-weight: 500;
  font-style: italic;
  cursor: pointer;

  transition: all 0.3s ease-in-out;

  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 1rem;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    font-size: 1.1rem;
  }
}

.readMoreButton:hover {
  color: var(--mint-color);
  transform: scale(1.1);
}

.modalParagraph {
  margin-bottom: 1rem;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;

  @media screen and (min-width: $breakpoint-tablet) {
    flex-direction: row;
  }
}

.swiperWrapper {
  width: 95%;
  margin: 0 auto;
  margin-top: 1rem;
  position: relative;

  @media screen and (min-width: $breakpoint-mobile-large) {
    width: 75%;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    width: 600px;
  }

  @media screen and (min-width: $breakpoint-laptop) {
    width: 800px;
  }
}

.customSwiper {
  width: 100%;
  height: auto;
  padding: 0.2rem;
  padding-bottom: 2.5rem;
}

.swiperSlide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem 0.8rem 2rem;
  background: white;
  border-radius: 140px 140px 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: $breakpoint-mobile-large) {
    margin: 0 auto;
    border-radius: 175px 175px 10px 10px;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    width: 600;
    padding: 3rem;
    min-height: 350px;
  }

  @media screen and (min-width: $breakpoint-laptop) {
    display: flex !important;
    flex-direction: row !important;
    gap: 3rem;
    border-radius: 10px;
    padding: 2rem;
  }
}

.customSwiperPrev,
.customSwiperNext {
  position: absolute;
  top: 33%;
  transform: translateY(-50%);
  z-index: 10;
  color: var(--pink-color);
  cursor: pointer;

  @media screen and (min-width: $breakpoint-mobile-large) {
    top: 30%;
  }

  @media screen and (min-width: $breakpoint-laptop) {
    top: 40%;
  }
}

.customSwiperPrev {
  left: -1rem;

  @media screen and (min-width: $breakpoint-laptop) {
    left: -4rem;
  }
}

.customSwiperNext {
  right: -1rem;

  @media screen and (min-width: $breakpoint-laptop) {
    right: -4rem;
  }
}

@media screen and (max-width: 768px) {
  .custom-swiper-prev,
  .custom-swiper-next {
    top: 30%;
  }

  .custom-swiper-prev {
    left: 1rem;
  }

  .custom-swiper-next {
    right: 1rem;
  }
}

.icon {
  font-size: 4rem;

  @media screen and (min-width: $breakpoint-mobile-large) {
    font-size: 5rem;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 6rem;
  }
}
