@import "../../../styles/variables.scss";

.testimonials.accent {
  background-color: var(--main-bg);
}

.titleHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.swiperWrapper {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.customSwiper {
  --swiper-theme-color: var(--pink-color);
  padding: 0 0.2rem 0 0.2rem;
}

.customSwiper :global(.swiper-pagination-bullet) {
  background-color: var(--swiper-theme-color);
}

.customSwiper :global(.swiper-pagination-bullet-active) {
  background-color: var(--swiper-theme-color);
}

.customSwiper :global(.swiper-slide) {
  margin-top: 10px;
}

.customSwiper :global(.swiper-pagination) {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  text-align: center;
}

.customSwiper :global(.swiper-pagination-bullet) {
  background-color: var(--pink-color);
}

.customSwiper :global(.swiper-pagination-bullet-active) {
  background-color: var(--pink-color);
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  min-width: 280px;
  padding: 1rem 0.8rem 2rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;

  background: white;
  border-radius: 140px 140px 10px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  transition: all 0.3s ease-in-out;

  @media screen and (min-width: $breakpoint-mobile-large) {
    margin: 0 auto 2rem;
    width: 80%;
    border-radius: 175px 175px 10px 10px;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    width: 95%;
  }

  @media screen and (min-width: $breakpoint-laptop) {
    margin-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  @media screen and (min-width: $breakpoint-laptop-large) {
    width: 100%;
  }
}

.slide:hover {
  transform: scale(1.005);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background: #f9f9f9;
}

.testimonialHeader {
  margin-bottom: 0.5rem;
  text-align: center;
}

.testimonialPhoto {
  width: 150px;
  height: 150px;
  margin: 0 auto 0.5rem;
  border-radius: 50%;
  object-fit: cover;

  @media screen and (min-width: $breakpoint-tablet) {
    width: 160px;
    height: 160px;
  }
}

.testimonialTextWrapper {
  display: block;
}

.testimonialText {
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 0.5rem;

  @media screen and (min-width: $breakpoint-desktop) {
    margin-bottom: 0.6rem;
  }
}

.testimonialText p {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.testimonialText p:nth-child(2),
.testimonialText p:nth-child(3) {
  display: inline;
}

.ellipsis {
  display: inline;
  margin-left: 1px;
}

.testimonialName {
  font-weight: bold;
  margin-bottom: 10px;
}

.delimiter {
  display: block;
}

.readMoreButton {
  display: inline-block;
  padding: 0;

  background: none;
  color: var(--pink-color);
  border: none;
  text-decoration: underline;
  font-size: 0.9rem;
  font-weight: 500;
  font-style: italic;
  cursor: pointer;

  transition: all 0.3s ease-in-out;

  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 1rem;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    font-size: 1.1rem;
  }
}

.readMoreButton:hover {
  color: var(--mint-color);
  transform: scale(1.1);
}

.modalParagraph {
  margin-bottom: 1rem;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;


  @media screen and (min-width: $breakpoint-tablet) {
    flex-direction: row;
  }
}
