.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}

.photoWrapper {
  max-width: 50%;
  margin: 24px auto;

  @media screen and (min-width: 768px) {
    margin: 24px auto;
    order: 2;
  }
}

.photo {
  width: 100%;
  border-radius: 12%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.infoWrapper {
  margin-bottom: 0.6rem;

  @media screen and (min-width: 768px) {
    flex-basis: 60%;
    order: 3;
  }
}

.infoWrapper p {
  line-height: 1.3;
  margin-bottom: 16px;

  color: var(--pink-color);

  font-size: 3rem;

  @media screen and (min-width: 768px) {
    font-size: 3rem;
    margin-bottom: 24px;
  }
}

.infoWrapper h1 {
  margin-bottom: 16px;
}
.infoWrapper h1 span {
  margin-bottom: 16px;
}

.infoWrapper h2 {
  font-weight: normal;
  font-size: 1.5rem;
}

.help {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 36px;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
  }
}

.card {
  min-width: 300px;
  min-height: 480px;
  background-color: var(--light-color);
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 72px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 144px) / 3);
  }
}
.image {
  object-fit: contain;
}

.card h3 {
  margin-top: 0;
}

.description {
  padding: 15px;
}

.descriptionTitle {
  margin-bottom: 10px;
  font-size: 1.2rem;
}
