@import "../../styles/variables.scss";

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 20px 20px;
  // background-color: var(--main-bg);
  text-align: center;

  @media screen and (min-width: $breakpoint-tablet) {
    max-width: 80%;
  }
}

.card {
  max-width: 800px;
  margin-bottom: 36px;
  padding: 24px;
  border-radius: 12px;
  background-color: var(--white-color);
  border: 1px solid var(--pink-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.card h3 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: var(--pink-color);

  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 1.5rem;
  }
}

.card p {
  margin-bottom: 1.8rem;
  font-size: 1rem;

  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 1.2rem;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @media screen and (min-width: $breakpoint-tablet) {
    flex-direction: row;
  }
}

.titleWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-right: 0.5rem;
  font-size: 2rem;
  color: var(--pink-color);
  transition: transform 0.3s ease, color 0.3s ease;

  @media screen and (min-width: $breakpoint-tablet) {
    margin-right: 1rem;
    font-size: 2.5rem;
  }
}

.card:hover .icon {
  transform: scale(1.5);
}
