@use "../../../styles/variables.scss" as *;

.lessons {
  min-height: 800px;
  background: url("/assets/images/lessons-desktop.jpg") no-repeat center center/cover;
  background-color: var(--white-color);
  margin-top: -32px;
  margin-bottom: -32px;
  padding-top: 32px;
  padding-bottom: 32px;

  @media screen and (min-width: $breakpoint-tablet) {
    min-height: 768px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)) url("/assets/images/lessons-desktop.jpg") no-repeat center center/cover;
    margin-top: -64px;
    margin-bottom: -64px;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    background: url("/assets/images/lessons-desktop.jpg") no-repeat center center/cover;
  }
}

.lessonsNoBg {
  background: none !important;
}

.titleHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.lessonList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  margin: 0 auto 24px;
  // padding: 16px;
  width: 100%;

  background: transparent !important;

  @media screen and (min-width: $breakpoint-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    max-width: 100%;
    margin: 0 auto 48px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    margin-bottom: 64px;
  }
}

.lessonItem {
  width: 100%;
  background-color: #fff;
  border: 1px solid var(--pink-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  @media screen and (min-width: $breakpoint-mobile-large) {
    width: 400px;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    width: calc(50% - 16px);
    min-height: 350px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    width: calc(33.333% - 32px);
    min-height: 410px;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .lessonItem:nth-child(1) {
    order: 1;
  }

  .lessonItem:nth-child(2) {
    order: 3;
  }

  .lessonItem:nth-child(3) {
    order: 2;
  }
}

.lessonItem:hover .icon {
  transform: scale(1.3);
}

.lessonHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  padding: 16px;

  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  @media screen and (min-width: $breakpoint-tablet) {}

  @media screen and (min-width: $breakpoint-desktop) {}
}

.icon {
  vertical-align: text-bottom;
  font-size: 48px;
  color: var(--pink-color);
  transition: transform 0.3s ease, color 0.3s ease;


  @media screen and (min-width: $breakpoint-tablet) {}
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 1px solid var(--pink-color);
  backdrop-filter: blur(8px);
  background: var(--main-bg);
  box-shadow:
    4px 4px 8px rgba(0, 0, 0, 0.1),
    -8px -8px 16px rgba(255, 255, 255, 0.9),
    inset 4px 4px 12px rgba(255, 255, 255, 0.8),
    inset -4px -4px 12px rgba(0, 0, 0, 0.1);
}

.lessonTitle {
  width: 100%;
  font-size: 16px;
  color: var(--pink-color);
  margin-bottom: 16px;

  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 20px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    font-size: 24px;
  }
}

.lessonTitle span {
  font-size: 14px;

  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 16px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    font-size: 20px;
  }
}

.lessonSubtitle {
  font-size: 16px;

  @media screen and (min-width: $breakpoint-tablet) {}

  @media screen and (min-width: $breakpoint-desktop) {}
}

.lessonPrice {
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 700;

  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 22px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    font-size: 24px;
  }
}

.lessonFeatures {
  padding: 16px;
  margin: 0;
  text-align: left;

  @media screen and (min-width: $breakpoint-tablet) {
    padding: 24px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    padding: 32px;
  }
}

.lessonFeatures li {
  position: relative;
  margin-bottom: 8px;
  padding-left: 24px;

  font-size: 16;

  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 18px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    font-size: 20px;
  }
}

.lessonFeatures li:not(:last-child) {
  margin-bottom: 20px;
}

.lessonFeatures li::before {
  content: "\2714";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);

  font-size: 28px;
  color: var(--pink-color);
  line-height: 1;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;

  @media screen and (min-width: $breakpoint-tablet) {
    flex-direction: row;
    gap: 32px;
  }
}