@import "../../styles/variables.scss";

.container {
  max-width: $breakpoint-mobile;
  margin: 0 auto;
  padding: 8px;

  @media screen and (min-width: $breakpoint-mobile-large) {
    min-width: calc($breakpoint-mobile-large - 16px);
    padding: 16px;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    min-width: calc($breakpoint-tablet - 24px);
    padding: 24px;
  }

  @media screen and (min-width: $breakpoint-laptop) {
    min-width: calc($breakpoint-laptop - 36px);
    padding: 36px;
  }

  @media screen and (min-width: $breakpoint-laptop-large) {
    min-width: calc($breakpoint-laptop-large - 48px);
    padding: 48px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    min-width: calc($breakpoint-desktop - 300px);
    padding: 64px;
  }
}


.containerWithoutPadding {
  min-width: 100%;
  max-width: $breakpoint-mobile;
  margin: 0 auto;

  @media screen and (min-width: $breakpoint-mobile-large) {
    max-width: $breakpoint-mobile-large;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    max-width: $breakpoint-tablet;
  }

  @media screen and (min-width: $breakpoint-laptop) {
    max-width: $breakpoint-laptop;
  }

  @media screen and (min-width: $breakpoint-laptop-large) {
    max-width: $breakpoint-laptop-large;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    max-width: $breakpoint-desktop;
  }
}