@use "./variables.scss" as *;

:root {
  --header-bg: #d97e9f; // #d97e9f cf6c91 db7198  #F1D5D2

  --footer-bg: #fdf8ee;
  --main-bg: #fdf8ee;

  --text-color: #733c30;
  --text-color-light: #fdf8ee;
  --card-bg: #f4ead6;

  --pink-color: #d97e9f;
  --brown-color: #733c30;
  --mint-color: #a5d8c2;
  --creamy-color: #f2e8b6;
  --beige-color: #d9bca3;
  --blue-color: #6f9abf;
  --light-color: #0a0909;
  --white-color: #ffffff;

  --breakpoint-mobile: 320px;
  --breakpoint-mobile-large: 480px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 960px;
  --breakpoint-laptop-large: 1200px;
  --breakpoint-desktop: 1440px;
}

@font-face {
  font-family: "SeaweedScript";
  src: url("../fonts/SeaweedScript-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat-Regular", sans-serif;
  color: var(--text-color);

  @media screen and (max-width: 319px) {
    overflow: scroll;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  color: inherit;
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  // padding: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;

  max-width: fit-content;
  // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin: 0 auto;

  @media screen and (min-width: $breakpoint-tablet) {
    display: block;
    // padding: 64px 0;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    // padding: 64px 0;
  }
}

.section-hidden-heading {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section:nth-child(odd) {
  background-color: var(--main-bg);
}

.section:nth-child(even) {
  background-color: var(--white-color);
}

.section.accent {
  background-color: var(--main-bg);
}

.notFound {
  position: relative;
  background: url("/assets/images/404.png") no-repeat center center/cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 84px);
  text-align: center;
  background: rgba(255, 255, 255, 0.9) url("/assets/images/404.png") no-repeat center center/cover;

  background-color: var(--main-bg);
}

.notFound::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0255, 255, 255, 0.5);
  z-index: 1;
}

.notFound>* {
  position: relative;
  z-index: 2;
}

.heading {
  margin-bottom: 1rem;
  font-size: 3rem;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.text {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 1.5rem;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    font-size: 1.8rem;
  }
}

.text:last-of-type {
  margin-bottom: 30px;
}

.titleHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.swiperSlide {
  @media screen and (min-width: 1024px) {
    flex-direction: row !important;
  }
}

.whiteBackground {
  background-color: var(--white-color);
}