@use "../../styles/variables.scss" as *;

.logo {
  width: fit-content;
  padding: 0 10px;
  
  border: 3px solid var(--white-color);
  border-radius: 50px;
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.8);
  color: var(--pink-color);
  
  font-family: "SeaweedScript";
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  
  z-index: 5;
  transition: all 0.3s ease;

  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 28px;
  }
  
  @media screen and (min-width: $breakpoint-desktop) {
    font-size: 32px;
  }

  &:hover {
    transform: scale(1.05);
  }
}