@import "../../styles/variables.scss";

.logo {
  font-family: "SeaweedScript";
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
  color: var(--text-color-light);
  transition: all 0.3s ease;
  z-index: 5;

  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 2.5rem;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    font-size: 3rem;
  }

  &:hover {
    transform: scale(1.05);
  }
}
