@import "../../../styles/variables.scss";

.features {
}

.titleHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.featuresList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 1rem;
  margin-bottom: 24px;
  font-size: 1rem;

  @media screen and (min-width: $breakpoint-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    width: 95%;
    margin: 0 auto 3rem;
    padding: 0 2rem;

    font-size: 1.1rem;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    font-size: 1.5rem;
    gap: 3rem;
    margin-bottom: 4rem;
  }
}

.featuresList li {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100px;
  padding: 0 1rem 1rem;
  border: 1px solid var(--pink-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  background-color: var(--main-bg);
  text-align: center;
}

@media screen and (min-width: $breakpoint-mobile-large) {
  .featuresList li {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .featuresList li {
    width: calc(33% - 2rem);
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: $breakpoint-laptop-large) {
  .featuresList li {
    width: calc(33% - 2rem);
    padding: 0 2rem 2rem;
  }
}

.featuresList li::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  width: 15%;
  height: 1px;
  background-color: var(--main-bg);
  transform: translateX(-50%);

  @media screen and (min-width: $breakpoint-tablet) {
    width: 25%;
  }
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
  align-self: center;

  position: relative;
  top: -0.8rem;

  @media screen and (min-width: $breakpoint-tablet) {
    top: -1rem;

    width: 28px;
    height: 28px;
  }

  @media screen and (min-width: $breakpoint-laptop) {
    width: 32px;
    height: 32px;
  }

  @media screen and (min-width: $breakpoint-laptop-large) {
    width: 36px;
    height: 36px;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @media screen and (min-width: $breakpoint-tablet) {
    flex-direction: row;
  }
}
