@import "../../styles/variables.scss";

.about {
  background-color: var(--bg-color);
  text-align: center;

  .container {
    max-width: 90%;
    margin: 0 auto;

    @media screen and (min-width: $breakpoint-tablet) {
      max-width: 80%;
    }
  }

  .features {
    display: grid;
    gap: 20px;
    text-align: left;

    .feature {
      background-color: var(--white-color);
      padding: 1rem;
      border-radius: 12px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

      @media screen and (min-width: $breakpoint-tablet) {
        padding: 2rem;
      }

      h3 {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 8px;
        color: var(--pink-color);
        font-size: 20px;
      }

      p {
        font-size: 16px;
        line-height: 1.6;
      }

      ul {
        padding-left: 20px;
        margin-top: 8px;

        li {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          margin-bottom: 0.3rem;


          font-size: 16px;
          line-height: 1.4;
        }
      }
    }
  }

  .cta {
    margin-top: 40px;
    font-size: 18px;

    p {
      margin-bottom: 20px;
      text-align: left;
    }

    .buttonWrapper {
      margin: 40px 0;
    }
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @media screen and (min-width: $breakpoint-tablet) {
    flex-direction: row;
  }
}

.icon {
  vertical-align: text-bottom;
  font-size: 2rem;
  color: var(--pink-color);
  transition: transform 0.3s ease, color 0.3s ease;
}

.smallIcon {
  vertical-align: text-bottom;
  font-size: 1.2rem;
  color: var(--pink-color);
  transition: transform 0.3s ease, color 0.3s ease;
}
