html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat-Regular", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --header-bg: #F4EAD6;
  --footer-bg: #F4EAD6;
  --main-bg: #ffffff;

  --pink-color: #d97e9f;
  --brown-color: #733c30;
  --mint-color: #a5d8c2;
  --creamy-color: #f2e8b6;
  --beige-color: #d9bca3;
  --blue-color: #6f9abf;

  --breakpoint-mobile: 360px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 992px;
  --breakpoint-desktop: 1440px;
}

ul,
ol,
li {
  list-style: none;
}

@font-face {
  font-family: "SeaweedScript";
  src: url("../fonts/SeaweedScript-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
