:root {
  --header-bg: #fdf8ee;
  --footer-bg: #fdf8ee;
  --main-bg: #fdf8ee;

  --text-color: #733c30;
  --card-bg: #f4ead6;

  --pink-color: #d97e9f;
  --brown-color: #733c30;
  --mint-color: #a5d8c2;
  --creamy-color: #f2e8b6;
  --beige-color: #d9bca3;
  --blue-color: #6f9abf;
  --light-color: #f9f9f9;

  --breakpoint-mobile: 320px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 992px;
  --breakpoint-desktop: 1440px;
}

@font-face {
  font-family: "SeaweedScript";
  src: url("../fonts/SeaweedScript-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat-Regular", sans-serif;
  color: var(--text-color);

  @media (max-width: 319px) {
    overflow: scroll;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  color: inherit;
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  display: inline-block;
  vertical-align: middle;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 768px) {
    display: block;
    padding: 64px 0;
    min-height: calc(90vh);
  }

  @media (min-width: 1440px) {
    padding: 128px 0;
  }

  /* outline: 1px solid green; */
}

.section:nth-child(even) {
  background-color: var(--main-bg);
}

.section:nth-child(odd) {
  background-color: var(--white);
}
