@use "../styles/variables" as *;

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #fbe9e7;
  color: #5d4037;
}

.heading {
  font-size: 48px;
  margin-bottom: 16px;
}

.text {
  font-size: 24px;
  margin-bottom: 32px;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @media screen and (min-width: $breakpoint-tablet) {
    flex-direction: row;
    gap: 32px;
  }
}