@import "../styles/variables.scss";

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: calc(100vh - 95px);
  padding-top: 48px;
  background-color: var(--main-bg);
}

.homePage {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: calc(100vh - 95px);
  background-color: var(--white-color);
}



.main {
  padding: 44px 0 0;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media screen and (min-width: $breakpoint-tablet) {
    padding: 56px 0 0;
  }
}

.header {
  margin: 0;
}

.footer {
  margin: 0;
}
