@use "../styles/variables" as *;

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: calc(100vh - 95px);
  padding: 48px 0;

  // background-color: var(--main-bg);
  // background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  background: linear-gradient(135deg, #fef3ea 0%, #f1cd853f 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.intro {
  padding: 0 0 20px;
  border-radius: 12px;
}

.section{
  padding: 40px 0 40px;
    margin: 40px 0 40px;
}

.pageTitle {
  font-family: Montserrat-Bold, sans-serif;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);

  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 24px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    font-size: 36px;
  }
}

.pageSubtitle {
  display: flex;
  gap: 0.3rem;
  margin-bottom: 0.5rem;
  font-size: 18px;
  color: var(--accent-color);
}

.pageSubtitleCenter {
  display: block;
  text-align: center;
}

.homePage {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: calc(100vh - 95px);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05)), url("/assets/images/wall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  // background-color: var(--white-color);
}

.mainBg {
  max-width: fit-content;
  margin: 0 auto;
  // background: linear-gradient(0deg, rgba(255, 255, 255, 0.597), rgba(255, 255, 255, 0.3)), url("/assets/images/gradient.svg") no-repeat center center/cover;
  // background-color: var(--main-bg);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2)
}

.main {
  padding: 44px 0 0;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media screen and (min-width: $breakpoint-tablet) {
    padding: 56px 0 0;
  }
}

.header {
  margin: 0;
}

.footer {
  margin: 0;
}

.icon {
  vertical-align: text-bottom;
  font-size: 2rem;
  color: var(--pink-color);
  transition: transform 0.3s ease, color 0.3s ease;
}

.card:hover .icon {
  transform: scale(1.5);
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  margin-bottom: 5rem;

  @media screen and (min-width: $breakpoint-tablet) {
    flex-direction: row;
  }
}

.whiteBackground {
  background-color: var(--white-color);
  gap: 2rem;

}