@import "../../../styles/variables.scss";

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: $breakpoint-tablet) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}

.photoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  margin: 0 auto 1rem;

  @media screen and (min-width: $breakpoint-tablet) {
    margin: 0 auto;
    width: auto;
    order: 2;
  }

  @media screen and (min-width: $breakpoint-laptop) {
    width: 35%;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    width: 30%;
    margin: 0 auto;
  }
}

.photo {
  border-radius: 12%;
  box-shadow: 0px 4px 15px rgba(111, 154, 191, 0.5),
    0px 8px 30px rgba(167, 216, 194, 0.3);
  height: 100%;
  width: auto;
}

.infoWrapper {
  margin-bottom: 0.6rem;

  @media screen and (min-width: $breakpoint-tablet) {
    flex-basis: 60%;
    order: 3;
  }
}

.infoWrapper p {
  color: var(--pink-color);
  font-size: 2rem;
  font-weight: 700;

  text-align: center;

  @media screen and (min-width: $breakpoint-tablet) {
    /* margin-bottom: 1.5rem; */
    text-align-last: left;
    font-size: 3rem;
  }
}

.infoWrapper h2 {
  margin-bottom: 2rem;
  text-align: center;

  @media screen and (min-width: $breakpoint-tablet) {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
  }

  /* @media screen and (min-width: $breakpoint-tablet) {
    margin-bottom: 1.5rem;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    margin-bottom: 2.5rem;
  } */
}

.infoWrapper h2 span {
  font-size: 1.5rem;
  color: var(--pink-color);
}

.description {
}

.description li {
  /* margin-bottom: 0.5rem; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0 0.5rem;
  gap: 0.5rem;
  border-bottom: 1px solid var(--pink-color);

  font-weight: 500;

  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 1.1rem;
    padding: 0.8rem 0 0.8rem;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    font-size: 1.3rem;
    padding: 1.2rem 0 1.2rem;
  }
}

.description li:first-child {
  border-top: 1px solid var(--pink-color);
}

.description a {
  color: var(--pink-color);
  font-weight: 700;

  &:hover {
    text-decoration: underline;
    transform: scale(1.05);
    text-underline-offset: 3px;
  }
}

.icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
  padding: 5px;

  @media screen and (min-width: $breakpoint-tablet) {
    width: 36px;
    height: 36px;
  }

  @media screen and (min-width: $breakpoint-laptop) {
    width: 48px;
    height: 48px;
  }

  @media screen and (min-width: $breakpoint-laptop-large) {
    width: 64px;
    height: 64px;

    .question {
      border: 4px solid var(--blue-color);
      border-radius: 50%;
    }

    .icon.check {
      border: 4px solid var(--pink-color);
      border-radius: 50%;
    }

    .icon.arrow {
      border: 4px solid var(--mint-color);
      border-radius: 50%;
    }
  }
}

/* .description li::before {
  content: "\2714";

  padding-right: 0.5rem;
  color: var(--pink-color);
  font-size: 1.2rem;

  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 1.5rem;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    font-size: 2rem;
  }
} */
