.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 1rem;
  background-color: var(--header-bg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  z-index: 2;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "SeaweedScript";
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
  color: var(--pink-color);
  transition: all 0.3s ease;
  z-index: 5;

  @media (min-width: 768px) {
    font-size: 2.5rem;
  }

  @media (min-width: 1440px) {
    font-size: 3rem;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.navList {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background-color: var(--header-bg);
  padding: 1rem;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.3s ease;

  @media screen and (min-width: 768.1px) {
    position: static;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    transform: translateY(0);
    opacity: 1;
  }
}

.navList.open {
  display: flex;
  transform: translateY(0);
  opacity: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

/* @media (min-width: 768px) {
  .navList {
    display: flex;
    position: static;
    transform: translateY(0);
    opacity: 1;
    flex-direction: row;
    gap: 2rem;
  }
} */

.navLink {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--pink-color);
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }

  @media (min-width: 1440px) {
    font-size: 2rem;
  }
}

.navLink:hover {
  transform: scale(1.05);
  text-decoration: underline;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--header-bg);
  padding: 0.5rem 1rem;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  width: 100%;
  transition: max-height 1s ease;
}

.dropdownMenu.open {
  display: block;
  max-height: 10rem;

  @media (min-width: 768px) {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  }
}

.navItem {
  position: relative;
}

@media (max-width: 768px) {
  .navList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .dropdownMenu {
    position: static;
    max-height: 0;
    overflow: hidden;
  }

  .dropdownMenu.open {
    max-height: 10rem;
  }
}
