@import "../../styles/variables.scss";

.contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
 
}

.contactWrapper {
  width: 100%;
  padding: 2rem 1rem;
  margin: 0 auto;
  text-align: center;
}

.contactList {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;

  @media screen and (min-width: $breakpoint-tablet) {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.contactItem {
  font-size: 1.2rem;
  margin: 0 0 2.5rem;

  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 280px;
  min-height: 100px;
  padding: 0.5rem 1rem;

  background-color: var(--pink-color);
  color: var(--white-color);
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  z-index: 1;
}

.link a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: var(--white-color);
  margin-top: 8px;
  transition: all 0.3s ease;
}

@media screen and (min-width: $breakpoint-tablet) {
  .icon {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: $breakpoint-laptop-large) {
  .contacts {
    padding: 2rem;
  }

  .icon {
    font-size: 2rem;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.image {
  width: 85%;
  height: auto;
  margin-bottom: -30px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  transition: transform 0.3s ease-in-out;
}

.button:hover + .image,
.buttonWrapper:hover .image {
  transform: translateY(-30px);
}

.link:hover,
.link:hover .icon {
  transform: scale(1.02);
}
